		@import url('https://fonts.googleapis.com/css?family=Montserrat');

		*{
			margin:0;
			padding:0;
		}

		body {
			background-color: #edf3ff;
			max-width: 100%;
			font-family: 'Montserrat', sans-serif;
			margin: 50px;
		}

	

	div {
			width: 128px;
			height:128px;
			/*background-color: black;*/
			margin: 0 auto;
			padding-top: 50px;
		}

		#logo {
			margin: 0 auto;
		}

		ul {
			margin-top: 50px;
			font-size: 18px;
			margin-bottom: 30px;
			width: 100%;
			height: 60px;
			background-color: #8db5f4;
			line-height: 60px;
		}

		ul li {
			float: left;
			list-style-type: none;
			padding-left: 100px;
			text-decoration: none;
			/*background-color: white; */

		}

		ul a li {
			color: #3f0152;
		}

		ul a li:hover {
			color:white;
			font-weight: bold;
		}

		h1 {
			margin: 20px auto;
			text-align: center;
			padding: 30px;
		}

		.colorchange {
			color: purple;
		}

		/*#overwrite {
			font-style: italic;
		}*/

		h2 {
	
			text-align: center;
			border: solid; color: #3f0152;
			padding: 50px;
			height: 200px;
			width:500px;

		}

		h3 {
			font-style: bold;
			margin-left: 50px;
		}

		p {
			margin: auto 50px;
		}

		#sketch {
			border:none;
			width: 100vw;
			height: 30vh;
			margin-top: 30px;
		}
