		@import url('https://fonts.googleapis.com/css?family=Montserrat');

		*{
			margin:0;
			padding:0;
		}

		body {
			background-color: #edf3ff;
			max-width: 100%;
			font-family: 'Montserrat', sans-serif;
			margin: 30px;
		}

		ul {
			margin-top: 30px;
			font-size: 18px;
			margin-bottom: 30px;
			width: 100%;
			height: 60px;
			background-color: #8db5f4;
			line-height: 60px;
		}

		ul li {
			float: left;
			list-style-type: none;
			padding-left: 100px;
			text-decoration: none;
			text-align: center;
			

		}

		ul a li {
			color: #3f0152;
		}

		ul a li:hover {
			color:white;
			font-weight: bold;
		}

		h1 {
			margin: 10px auto;
			text-align: center;
			padding: 20px;
			color: purple;
		}

		.colorchange {
			color: purple;
		}

		/*#overwrite {
			font-style: italic;
		}*/

		.pic {
			width:20%;
			height: auto;
			margin: auto;
			margin-bottom: 20px;
			display: block;
		}

		h2 {
			padding: 10px;
			margin:10px 300px 10px;
			text-align: center;
			border: dotted;
			border-width:5px;
			border-height: 4px;

		}

		h3 {
			font-style: bold;
			margin-left: 50px;
		}

		.head {
			padding:0;
			width:7%;
			height: auto;
			display:block;
			margin-left: auto;
			margin-right: auto;
		}

		p {
			text-align: center;
			margin: 30px 250px;
			line-height: 1.5;
		}

		.center {
    		display: block;
   		 	margin-left: auto;
   			margin-right: auto;
    		width: 30%;
   		 	height: auto;
}
		.video {
			display: block;
   		 	margin-left: auto;
   			margin-right: auto;
   			width:50%;
		}

		.profile {
			margin: auto;
			margin-bottom: 20px;
			display: block;
			width: 30%;
   		 	height: auto;
		}

		#sketch {
			border:none;
			width: 100vw;
			height: 30vh;
			margin-top: 30px;
		}
		@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}
@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}

